html body {
	padding-top: 0px; // NOTE : Overwrite Bootstrap
}

.top-background {
	background: $blue; 
	padding-top: 70px; // NOTE : Overwrite Bootstrap
}

.jumbotron {
	background-color: $blue; 
	color: white; 
	h1,h2,h3,h4,h5,h6,p {
		color: white; 
	}
}

a {
	color: $dark-blue; 
}





#header {

	background-color: #fff;
	background-color: rgba(255,255,255,0.8);

	&.navbar {
		border-color: #ccc; 
	}

	.nav .open > a, 
	.navbar-nav > li > a:hover, 
	.nav .open > a:hover, 
	.nav .open > a:focus {
		background-color: rgba(255, 255, 255, 0.76); // NOTE : Overwrite Bootstrap
	}

	.navbar-brand {
		// TODO : Create Fallback for devices that don't use svg
		font-size: 0px;
		background-image: url("../images/logo/jsj-plugins-logo-color-1.svg");
		width: 162px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 0px; // NOTE : Overwrite Bootstrap
		padding-top: 13px; // NOTE : Overwrite Bootstrap
		padding-bottom: 13px; // NOTE : Overwrite Bootstrap
		
	}
}